.about_container {
  height: 830px;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about_up {
  padding: 150px 255px 80px;
}
.about_title {
  text-align: center;
  position: absolute;
  right: 40%;
  top: 90%;
  width: 20%;
  color: #fff;
  font-family: Kanit;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1.17px;
  text-transform: uppercase;
  border-right: 5px solid green;
  border-left: 5px solid green;
}
.about_text {
  color: #fff;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.72px;
  padding: 25px 0;
}
.about_button {
  width: 510px;
  height: 45px;
  justify-content: center;
  color: #fff;
  font-family: Kanit;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 133.333% */
  letter-spacing: 0.81px;
  background: #016c1f;
}
@media (max-width: 991px) {
  .about_container {
    height: 400px;
  }
  .about_up {
    padding: 40px 50px 30px;
  }
  .about_title {
    border-right: 2px solid green;
    border-left: 2px solid green;
    width: 90px;
    top: 75%;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 11.29px;
    letter-spacing: 0.45px;
  }
  .about_text {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.3px;
  }
  .about_button {
    width: 130px;
    height: 16px;
    font-size: 7px;
    font-style: normal;
    font-weight: 600;
    line-height: 10.588px; /* 151.26% */
    letter-spacing: 0.21px;
  }
}
