.contact_form-page {
  background: rgb(4, 14, 2);
  background: radial-gradient(
    circle,
    rgba(4, 14, 2, 1) 0%,
    rgba(2, 6, 0, 1) 97%
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
