.form-container {
  display: flex;
  flex-direction: column;
}
.form-container h1 {
  text-shadow: 0px 0px 0px transparent, 0px 0px 6px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-transform: uppercase;
  height: 110px;
  padding-bottom: 10px;
  flex-shrink: 0;
  background: rgba(1, 108, 31, 0.33);
  color: #016c1fa8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Kanit;
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 30% */
  letter-spacing: 9px;
}
.full-width h1 {
  width: 100vw;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 10rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 2rem;
}
.contact-title {
  position: relative;
  color: #fff;
  padding: 0px;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}
.form-container input {
  height: 2rem;
  width: 25rem;
  padding: 0 1rem;
  margin: 1rem 0;
  background: #d9d9d9;
  border: 2px solid green;
}
.form-container textarea {
  padding: 1rem;
  margin: 1rem 0;
  background: #d9d9d9;
  border: 2px solid green;
  height: 120px;
}
.form-container button {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-family: Kanit;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 163.636% */
  letter-spacing: 1.98px;
  background-color: green;
}
.contact_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact_info-text {
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 137.5% */
  letter-spacing: 0.72px;
}
.contact_info-up {
  padding-bottom: 3rem;
}
.contact_info-down-left .contact_info-text {
  color: #fff;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.08px;
}
.contact_info-down-right .contact_info-text {
  color: #fff;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.08px;
}
.contact_info-down {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 850px) {
  .form-container h1 {
    text-align: center;
    font-family: Kanit;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.837px; /* 68.466% */
    letter-spacing: 2.79px;
    height: 30px;
    padding-bottom: 0px;
  }
  .contact {
    justify-content: space-around;
    flex-direction: column-reverse;
    padding: 0;
  }
  .contact_info-text {
    color: #fff;
    text-align: center;
    font-family: Kanit;
    font-size: 10.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.85px; /* 137.5% */
    letter-spacing: 0.324px;
  }
  .contact_info-up {
    padding-bottom: 1rem;
  }
  .contact-title {
    color: #fff;
    font-family: Kanit;
    font-size: 9.45px;
    font-style: normal;
    font-weight: 600;
    line-height: 13.5px;
    letter-spacing: 0.567px;
  }
  .contact_info-down-left .contact_info-text {
    color: #fff;
    font-size: 8.1px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.5px;
    letter-spacing: 0.486px;
  }
  .contact_info-down-right .contact_info-text {
    color: #fff;
    font-size: 8.1px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.5px;
    letter-spacing: 0.486px;
  }
  .form-container input {
    width: 15rem;
    height: 1.7rem;
  }
  .form-container button {
    font-size: 9.9px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.2px; /* 163.636% */
    letter-spacing: 0.891px;
  }
}
