.form-container {
  display: flex;
  flex-direction: column;
}
.form-container h1 {
  text-shadow: 0px 0px 0px transparent, 0px 0px 6px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-transform: uppercase;
  height: 110px;
  padding-bottom: 10px;
  flex-shrink: 0;
  background: rgba(1, 108, 31, 0.33);
  color: #016c1fa8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Kanit;
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 30% */
  letter-spacing: 9px;
}
.full-width h1 {
  width: 100vw;
}
.contact {
  display: flex;
  padding: 2rem 10rem;
}
.form-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}
::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}
.form-container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid;
}
.form-container textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid;
}
.form-container button {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
  height: 30px;
  background-color: green;
  color: #e5e5e5;
}
@media screen and (max-width: 850px) {
  .form-container {
    padding: 2rem 2rem;
  }
  .form-container form {
    padding-top: 2rem;

    width: 90%;
  }
}
