.footer {
  padding: 4rem 6rem;
  background: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  cursor: pointer;
  height: 55px;
  width: 55px;
}
.socials {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  color: white;
  justify-content: space-evenly !important;
}
.footer ul {
  text-align: left;
  list-style: none;
}
.footer li {
  padding: 0.3rem 0;
}
@media (max-width: 991px) {
  .footer {
    height: 500px;
    padding: 1.2rem 3rem;
    flex-direction: column;
  }
  .mid {
    order: 1;
  }
  .left {
    order: 2;
  }
  .right {
    order: 3;
  }
}
