#navbar-container {
  background: rgba(0, 0, 0, 0.66);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 90px;
  margin: 0;
  left: 0;
}

.NavbarItems {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.navbar-logo {
  cursor: pointer;
  height: 52px;
  width: 360px;
}
.navbar-logo img {
  cursor: pointer;
  object-fit: cover;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  padding-left: 15rem;
  padding-right: 10rem;
}
.nav-links {
  text-decoration: none;
  border-right: 2px solid #074226;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
}
.nav-links:hover {
  color: #074226;
  transition: all 0.2s ease-in-out;
}
.last-link {
  border-right: none;
}
.menu-icons {
  display: none;
}
.nav_socials {
  color: white;
  display: flex;
  flex-direction: column;
}
.nav_socials svg {
  width: 22px;
  height: 22px;
  padding: 3px 0;
}
@media screen and (max-width: 1024px) {
  .navbar-logo {
    width: 250px;
  }

  .nav-menu {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nav-links {
    padding: 0.2rem 0.7rem;
  }
}
@media screen and (max-width: 850px) {
  .nav-links {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 650px) {
  #navbar-container {
    margin: 0;
    width: 100vw;
  }
  .NavbarItems {
    z-index: 99;
    background-color: black;
    padding: 0;
  }
  .navbar-logo {
    flex: 0 0 auto;
    width: 330px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: black;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .nav-links {
    color: #fff;
    display: block;
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    border-right: none;
    padding: 1.2rem 0;
  }
  .nav-links:hover {
    background: #074226;
    color: white;
    transition: none;
  }
  .menu-icons {
    display: flex;
    color: white;
    padding-left: 0px;
  }
  .fa-bars {
    width: 35px;
    height: 35px;
  }
  .fa-xmark {
    width: 35px;
    height: 35px;
  }
  .nav_socials {
    display: none;
  }
}
