.offer {
  padding: 3rem 0;
  color: rgb(223, 218, 214);
}

.offer h1 {
  text-shadow: 0px 0px 0px transparent, 0px 0px 6px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-transform: uppercase;
  height: 110px;
  padding-bottom: 10px;
  flex-shrink: 0;
  background: rgba(1, 108, 31, 0.33);
  color: #016c1fa8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Kanit;
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 30% */
  letter-spacing: 9px;
}
.offer h1.full-width {
  width: 100vw; /* Szerokość całego okna przeglądarki */
}
.offer-subtitle {
  padding-top: 5px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-feature-settings: "liga" off;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kanit;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 214.286% */
  letter-spacing: 1.89px;
}
.offercard {
  padding: 20px 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Dodaj flex-wrap, aby elementy zawijały się w nowe linie */
  gap: 30px; /* Dodaj odstęp między elementami */
}
.o-card {
  width: calc(
    (100% - 60px) / 3
  ); /* Szerokość karty z uwzględnieniem marginesów i odstępu */
  height: 270px; /* Wysokość karty */
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Rozłożenie elementów wewnątrz karty */
}
.o-image {
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
}
.o-card-image {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.o-card-image h4 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  transition: top 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-family: Kanit;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: 2.43px;
  text-transform: uppercase;
}

.o-card-image:hover h4 {
  top: 0;
}

.o-card-text {
  position: absolute;
  top: 50%; /* Przesuń opis na środek obrazka */
  transform: translateY(-50%); /* Skoryguj pozycję opisu */
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: center; /* Wyśrodkuj tekst */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.o-card-image:hover .o-card-text {
  opacity: 1;
  color: #fff;
  text-align: center;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.offer-button {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  color: green;
  padding: 2rem 0;
  font-size: 1.2rem;
  right: 5%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.offer-button:hover {
  text-decoration: underline;
}

.o-card-image:hover .offer-button {
  opacity: 1;
}
@media screen and (max-width: 850px) {
  .nav-menu {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-links {
    border-right: none;
    padding: 1rem;
    text-align: center;
    display: block;
  }
  .menu-icons {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .offer h1 {
    text-align: center;
    font-family: Kanit;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.837px; /* 68.466% */
    letter-spacing: 2.79px;
    height: 30px;
    padding-bottom: 0px;
  }
  .offer-subtitle {
    color: #fff;
    text-align: center;
    font-feature-settings: "liga" off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kanit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 450% */
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }
  .offercard {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .o-card {
    width: 100%;
  }
  .offer-button {
    padding: 2rem 0;
    right: 9%;
  }
}
