.gallery-container {
  display: flex;
  flex-direction: column;
  /* Wyśrodkowuje zawartość w pionie */
  justify-content: center; /* Wyśrodkowuje zawartość w poziomie */
  padding: 5rem 0;
  max-width: 100vw;
  text-align: center; /* Dodaj wyśrodkowanie w poziomie */
}
.carousel {
  /* Twój styl karuzeli */
  height: 500px; /* Ustawia maksymalną szerokość karuzeli na 50% kontenera */
  margin: 0 auto; /* Wyśrodkuj karuzelę w poziomie */
  /* Możesz dostosować maksymalną szerokość karuzeli według własnych preferencji */
}
.gallery-container h1 {
  text-shadow: 0px 0px 0px transparent, 0px 0px 6px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-transform: uppercase;
  flex-shrink: 0;
  color: #fff;
  flex-shrink: 0;
  text-align: center;
  font-family: Kanit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 30% */
  letter-spacing: 9px;
  background-color: rgba(1, 108, 31, 0.33);
  padding: 30px 160px;
  margin: 50px 0;
}
.gallery-container h1.full-width {
  width: 33vw; /* Szerokość całego okna przeglądarki */
}
.photo-gallery {
  padding: 0 10rem;
}
.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 8%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  max-width: 100vw;
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 3rem;
  height: 3rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}
.control-dots {
  display: none;
}
.thumbnails {
  display: flex;
  overflow-x: auto; /* Umożliwia przewijanie miniaturk poziomo */
  padding: 1rem 0;
  max-width: 100%; /* Ustawia maksymalną szerokość galerii miniatur na 50% kontenera */
  margin: 0 auto; /* Wyśrodkuj miniaturki w poziomie */
  /* Możesz dostosować maksymalną szerokość galerii miniatur według własnych preferencji */
}

.thumbnails img {
  width: 200px;
  height: 150px; /* Dzieli szerokość na 6 równych części */
  padding-right: 2px; /* Dodaje odstęp między miniaturkami */
  cursor: pointer;
}
@media (max-width: 1500) {
  .photo-gallery {
    padding: 0;
  }
  .gallery-container h1 {
    padding: 10px 30px;
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.837px; /* 68.466% */
    letter-spacing: 2.79px;
  }
  .gallery-container h1.full-width {
    width: 40vw !important; /* Szerokość całego okna przeglądarki */
  }
}
@media (max-width: 991px) {
  .photo-gallery {
    padding: 0;
  }
  .model.open svg {
    top: 20px;
    right: 25px;
  }
  .gallery-container {
    padding: 2rem 0;
  }
  .gallery-container h1 {
    padding: 10px 30px;
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.837px; /* 68.466% */
    letter-spacing: 2.79px;
  }
  .gallery-container h1.full-width {
    width: 50vw !important; /* Szerokość całego okna przeglądarki */
  }

  .carousel {
    height: 220px;
  }
  .control-dots {
    display: block;
  }

  .carousel .control-dots .dot.selected {
    background: #016c1f;
  }
  .thumbnails {
    display: none;
  }
}
